@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {

    display: flex;
    background-image: url(./image/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    min-height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.texto-duvidas {
    color: rgba(255, 255, 255, 1);
    margin: 20px 100px 0 0;
    

}

.texto-duvidas h1 {
    font-size: 20px;
    font-weight: 900;

}

.texto-duvidas p {
    font-size: 15px;
    font-weight: 400;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
}


.formulario input,
.formulario .mensagem {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}
.formulario .mensagem{
    height: 100px;
}

.formulario p {
    margin: 10px 0;
    font-size: 12px;
    text-align: left;
    width: 100%;
    
}

.formulario .botao {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    background-color: #3ccc87;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.formulario span {
    display: block;
    font-size: 10px;
    font-weight: 400;
    color: rgba(245, 46, 46, 1);
    text-align: left;
    width: 100%;
}

.formulario span.msg-erro {
    display: none;
}

.formulario .preenchido {
    border: 1px solid #3ccc87;
}

.formulario .nao-preenchido {
    border: 1px solid red;
}

/* Responsivo para 720px */
@media (max-width: 720px) {
    section {
        flex-direction: column;
        padding: 100px 20px;
    }
    .texto-duvidas{
        width: 60%;
        margin: 30px;
        }

    .texto-duvidas h1 {
        font-size: 22px;
    }

    .texto-duvidas p {
        font-size: 16px;
    }

    .formulario {
        width: 80%;
        padding: 15px;
    }
}

/* Responsivo para 480px */
@media (max-width: 480px) {
    section {
        flex-direction: column;
        padding: 30px 10px;
    }


    .texto-duvidas h1 {
        font-size: 16px;
    }

    .texto-duvidas p {
        font-size: 13px;
    }

    .formulario {
        width: 80%;
        padding: 15px;
    }

    .formulario input,
    .formulario .mensagem {
        font-size: 14px;
        padding: 8px;
    }

    .formulario .botao {
        font-size: 14px;
    }

    .formulario p {
        font-size: 10px;
    }
}

